.sidebar {
  max-width: 350px;
  background-color: #333;
  border-right: 0.5px solid #dee2e6;
}

.sidebar .btn {
  margin-bottom: 20px;
  width: 100%;
}

.dropdown-button {
  border: none;
  border-radius: 0.25rem;
  background-color: #6c757d;
  color: #fff;
  padding: 0.5rem 1rem;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .dropdown-button .btn:hover,
.sidebar .dropdown-button .btn:focus {
  background-color: #212529;
  color: #fff;
}

.sidebar .dropdown-button .dropdown-menu {
  /* border: none; */
  /* box-shadow: none; */
  background-color: #212529;
}

.sidebar .dropdown-button .dropdown-item {
  padding: 0.5rem 1rem;
  color: #fff;
}

.sidebar .dropdown-button .dropdown-item:hover {
  background-color: #444;
}

@media (max-width: 768px) {
  .sidebar {
    max-width: 100%;
    border-right: none;
    max-height: 90%;
  }
}
